$ git status
$ cat .git/info/exclude
# ignore objects and archives, anywhere in the tree.
*.[oa]
scrath/
old/
$ cat .gitignore
# ignore generated html files,
*.html
# except foo.html which is maintained by hand
!foo.html
$ git status
